{% extends 'layout.html' %}

{% block title %}
{{titulo}}
{% endblock %}

{% block content %}
<h1>Agregar Cursos</h1>
<h1>Crear Curso</h1>
<form method="post">
     {% csrf_token %}
     <label for="code">Código:</label>
     <input type="text" name="code" id="code" required>
     <br>
     <label for="name">Nombre:</label>
     <input type="text" name="name" id="name" required>
     <br>
     <label for="hour">Horas:</label>
     <input type="number" name="hour" id="hour" required>
     <br>
     <label for="credits">Créditos:</label>
     <input type="number" name="credits" id="credits" required>
     <br>
     <label for="state">Estado:</label>
     <input type="checkbox" name="state" id="state">
     <br>
     <input type="submit" value="Crear">
</form>
{% endblock %}